.button-position {
    top: 40%;
    background: none;
}
.button-position-right {
    top: 40%;
    right: 48px;
    background: none;
}
.pagination-position {
    left: 48%;
    display: flex;
    gap: 20px;
}
.pagination-position span {
    background: gray;
}