.headlink-page .container {
    display: flex;
}
.display-block {
    display: block !important;
}

.headlink-page .container .main-content {
    width: 70%;
}

.headlink-page .container .main-content .main-container {
    padding: 0 60px 60px 60px;
    position: relative;
}

.main-content .main-container .heading {
    font-family: IBM Plex Sans;
    font-size: 66px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0px;
    text-align: left;
    color: #004289;
    text-transform: uppercase;
}
.main-content .main-container .heading p {
    margin-bottom: 0;
}

.main-content .main-container .subheading {
    font-family: Circular TT;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #004289;
    text-transform: capitalize;

}

.main-content .main-container .subcontent {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
}

.main-content .main-container .headlink {
    font-family: IBM Plex Sans;
    font-size: 36px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0px;
    text-align: left;
    color: #004289;
    text-transform: uppercase;
}
.main-content .main-container .headlink-img {
    width: 100%;
}

.main-content .main-container .mixed-img {
    display: flex;
    gap: 24px;
}

.main-content .main-container .mixed-img img {
    width: calc(50% - 12px);
}


.headlink-page .container .right-link {
    width: 30%;
    background-color: #F5F6F4;
}

.right-link .right-container {
   padding: 40px;
}

.right-link .right-container .menu-title {
    font-family: IBM Plex Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    color: #004289;
    text-transform: uppercase;


}
.right-link .right-container ul {
    padding: 0;
    list-style-type: none;
}

.right-link .right-container ul li a {
    font-family: IBM Plex Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #333333;
    text-decoration: none;
}
.right-link .right-container ul li a:hover {
    color: #004289;
}
.quickly-menu-sidebar {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 3%;
    right: 5%;
    display: none;
}



@media (max-width: 768px) {
    .headlink-page .container {
        flex-direction: column;
    }
    .headlink-page .container .main-content {
        width: 100%;
    }
    .headlink-page .container .right-link {
        display: none;
        width: 50%;
        position: absolute;
        right: 0;
        transition: 1s linear(0 0%, 0.13 33.82%);
    }
    .main-content .main-container .heading {
        font-size: 50px;
    }
}
@media (max-width: 425px) {
    .main-content .main-container .heading {
        font-size: 24px;
        text-align: center;
    }
    .main-content .main-container .subheading {
        font-size: 12px;
    }
    .main-content .main-container .subcontent {
        font-size: 11px;
    }
    .main-content .main-container .headlink {
        font-size: 23px;
        text-align: center;
    }
    .headlink-page .container .main-content .main-container {
        padding: 0 30px 30px;
    }
}